src/main/mule/mule_udemy_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1f29104d-2a29-4e28-898f-d9d8bf08d2d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="12607235-7294-48ea-8e78-d733064e7264" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="toor" database="mulesoft_course"/>
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2ab13b1e-2bd5-48fc-b4df-1a06ad74f5d2" basePath="/path" />
	<http:request-config name="PropagateRequest" doc:name="HTTP Request configuration" doc:id="8fbba8ca-5b20-4083-8d86-2eb48c327b5c" basePath="/base" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="mule_udemy_projectFlow" doc:id="1a8521a6-9b99-4f80-adcc-d64561ef0298" >
		<http:listener doc:name="Listener" doc:id="01260c44-b1db-4066-910e-0cde43ef267d" config-ref="HTTP_Listener_config" path="/home"/>
		<logger level="INFO" doc:name="Logger" doc:id="1631b646-670f-4d82-9803-ce73620ab0a7" message='#["Log Start : " ++ flow.name]'/>
		<set-payload value='#["this is the basic flow"]' doc:name="Set Payload" doc:id="28f378f5-2bd5-4fe3-9d0a-cd55f186cc91" />
	</flow>
	<flow name="getCustomers" doc:id="730c6e7b-5193-49a4-ba00-3b14181d6689" >
		<http:listener doc:name="Listener" doc:id="1353681d-bc19-47c2-bf03-b59b5f2a1a6b" config-ref="HTTP_Listener_config" path="/database"/>
		<db:select doc:name="select_customers" doc:id="00893a66-3da0-4847-b10a-7e0310c8432b" config-ref="Database_Config1">
			<reconnect />
			<db:sql ><![CDATA[select * from customers]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="bc412487-2d14-451a-bd30-a6fd91b5711c" message="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;payload]"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;payload]' doc:name="Set Payload" doc:id="4259c78f-c001-4490-a46c-c79d70b1789d" />
	</flow>
	<flow name="addCustomers" doc:id="40e136e8-afdd-4305-ba46-936d65572249" >
		<http:listener doc:name="Listener" doc:id="8ac7b4f1-5859-49f5-b024-73e077c2cf9c" config-ref="HTTP_Listener_config" path="/customers/add/"/>
		<db:insert doc:name="Insert" doc:id="1d6d2a19-7b5d-4f03-b5b3-b6efc25b0b4e" config-ref="Database_Config1" autoGenerateKeys="true">
			<db:sql ><![CDATA[insert into customers (customer_name) values (:clientName)]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	"clientName": payload.customer.customerName
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="2a99a8ae-b198-4b54-a519-4eadd1ab26b7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
	</flow>
	<flow name="uriParams" doc:id="34da3eec-8ab6-48d1-8f59-f55d0c6aace2">
		<http:listener doc:name="Listener" doc:id="4cadf2d7-70eb-4858-904a-e6498eb5d4ae" config-ref="HTTP_Listener_config" path="/uriParams/{ID}" />
		<logger level="INFO" doc:name="Logger" doc:id="33c58bd9-8dc8-43c5-91ab-3ebf866b1cc3" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e926adf3-b20d-4ae1-a7b9-62673c92a835" />
	</flow>
	<flow name="updateCustomerById" doc:id="b0fa26f1-6538-431d-90f4-7b28b39b80a9" >
		<http:listener doc:name="Listener" doc:id="716ec240-825d-4b74-a4b3-6a8477d35fb1" config-ref="HTTP_Listener_config" path="/customers/{customerId}" allowedMethods="PUT"/>
		<db:update doc:name="Update" doc:id="e3c3697a-b333-49d7-aa30-9adee31e90a3" config-ref="Database_Config1">
			<db:sql ><![CDATA[update customers set customer_name = :newCustomerName where id = :clientId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'newCustomerName': payload.customer.customerName,
	'clientId': attributes.uriParams.customerId
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="c5e30c5a-fcfe-41bf-8493-b563bcc6e3f1" message="#[%dw 2.0&#10;output application/json&#10;&#10;---&#10;payload]"/>
	</flow>
	<flow name="deleteCustomerById" doc:id="9604a6b2-cc56-4639-aad5-126681fbb988" >
		<http:listener doc:name="Listener" doc:id="335f57fa-0cda-47a4-8223-5ea0323879ef" config-ref="HTTP_Listener_config" path="/customers/{customerId}" allowedMethods="DELETE"/>
		<db:delete doc:name="Delete" doc:id="fac2169c-cd61-4b20-9686-4c9d8cebcea0" config-ref="Database_Config1">
			<db:sql ><![CDATA[delete from customers  where id = :customerId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'customerId': attributes.uriParams.customerId
	}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" doc:name="Logger" doc:id="9be533ef-c28e-46f5-9a5b-d2368a57b475" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<choice doc:name="Choice" doc:id="2c9ce7d1-c084-4027-93ea-c3dd03864c18" >
			<when expression="#[payload &gt; 0]">
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"success": "Customer Deleted successfully"&#10;}]' doc:name="Successfully Delete" doc:id="058189d3-f481-4c28-90a8-8a5a8ee85e76" />
			</when>
			<otherwise >
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"responseMessage":"Customer does not exist"&#10;}]' doc:name="Customer does not exist" doc:id="3542c44f-f82a-4c2e-8400-e6d97a7f66d4" />
			</otherwise>
		</choice>
	</flow>
	<flow name="cretae_new_file" doc:id="3cbcff86-fdc4-4a56-8001-f466fb46b6f0" >
		<http:listener doc:name="Listener" doc:id="6c96f8f2-376c-4caa-a7b1-31e4fdad974c" config-ref="HTTP_Listener_config" path="/writefile" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="32a709b7-ef62-4761-a6de-461beae6f953" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.filename]" doc:name="Set Variable Filename" doc:id="c4b59c2e-0353-4b20-ad3f-722875abb37f" variableName="Filename"/>
		<file:write doc:name="Write" doc:id="11d66b80-93a3-46ad-a278-629bd1b33632" config-ref="File_Config" path='#["infolder/" ++ vars.Filename ++ ".csv"]'>
			<file:content ><![CDATA[#[%dw 2.0
output application/csv
---
payload.customer]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="Logger" doc:id="b2a048fc-915b-4710-b1d3-ae8af4a3be5e" message="#[payload]"/>
	</flow>
	<flow name="poll_directory_for_new_files_updates" doc:id="d4aa3225-d3b2-490a-87ae-33a5952a1a9f" >
		<file:listener doc:name="On New or Updated File" doc:id="782520e6-284f-4a5a-bd0e-f05789581b75" config-ref="File_Config" autoDelete="true" moveToDirectory="/Users/nurudin/AnypointStudio/studio-workspace/mule_udemy_project/Files/outfolder" directory="/Users/nurudin/AnypointStudio/studio-workspace/mule_udemy_project/Files/infolder">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="288d07d4-334f-4504-adbb-ff25479410bd" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"lastModifiedTime": attributes.lastModifiedTime,&#10;	"creationTime": attributes.creationTime,&#10;	"filename": attributes.fileName ++ " moved to outfolder"&#10;}]'/>
	</flow>
	<flow name="readFile" doc:id="5a556771-d5f5-4b0c-a4ae-d9f43853b0fe" >
		<http:listener doc:name="Listener" doc:id="016c0296-fd21-4908-824a-f172bc91ce09" config-ref="HTTP_Listener_config" path="/readfile/{fileName}"/>
		<file:read doc:name="Read from file" doc:id="76a1d1f1-433e-4581-aa5d-e2a25a5b9b11" config-ref="File_Config" path='#["outfolder/" ++ attributes.uriParams.fileName ++ ".csv"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="912a2673-0fa8-48ed-bf6d-3ce66f89ee73" message="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;payload]"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="a557446b-fb7e-4553-88b4-416e7f58855d" />
	</flow>
	<flow name="list_files_path_basic" doc:id="24237109-697f-4575-a93f-6f3061a521df" >
		<http:listener doc:name="Listener" doc:id="afff8515-c218-458d-a07c-c8885a8ce1c5" config-ref="HTTP_Listener_config" path="/listFilesBasic" allowedMethods="GET"/>
		<file:list doc:name="List all files in folder" doc:id="81dd43e8-c9dd-4b82-b4d3-6982ccc87813" config-ref="File_Config" directoryPath="/Users/nurudin/AnypointStudio/studio-workspace/mule_udemy_project/Files/outfolder"/>
		<logger level="INFO" doc:name="Logger" doc:id="8837a1c5-4758-49c3-8291-605452e2b5c4" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Log datatype of payload" doc:id="17a05876-b620-4f6e-8703-146bba87d47b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"dataType": typeOf(payload)&#10;}]'/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="cf6a4d40-2ac6-4932-abd4-231565444284" />
	</flow>
	<flow name="list_all_files_in_folder_intermediate" doc:id="a84f1d84-5bb8-4a5e-bcb0-d2d6b35e85f7" >
		<http:listener doc:name="Listener" doc:id="0d2bc0d3-6cd4-40fd-af8a-bb03dd30c988" config-ref="HTTP_Listener_config" path="/listfilesadvance"/>
		<logger level="INFO" doc:name="Logger" doc:id="87af40a9-15a6-4700-b50b-9d8698c975c0" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<file:list doc:name="List" doc:id="a82d8be3-c521-47eb-adc0-8c49e223ca35" config-ref="File_Config" directoryPath="outfolder" />
		<foreach doc:name="For Each" doc:id="04e00060-7fe8-4614-84af-819d281d0002" >
			<choice doc:name="validate if item is folder or file" doc:id="9ca102ce-a9c0-49bd-af87-7957d94a6b73" >
				<when expression="#[attributes.directory == false]">
					<logger level="INFO" doc:name="Files" doc:id="41f33e13-1f3f-4bc7-840c-4c3665749ca3" message='#[%dw 2.0&#10;output applicaiton/json&#10;---&#10;{&#10;	"message": "It is a file : " ++ attributes.path&#10;}]'/>
				</when>
				<otherwise>
					<logger level="INFO" doc:name="Folder" doc:id="b9a29c1c-2eaf-43ea-a5cc-fcd2b56c91b0" message='#[%dw 2.0&#10;output applicaiton/json&#10;---&#10;{&#10;	"message": "It is a folder : " ++ attributes.path&#10;}]'/>
				</otherwise>
			</choice>
		</foreach>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Return as a single payload" doc:id="4baf7fa4-6588-46f4-a982-1f3ea172182e" />
	</flow>
	<flow name="default-error-handling" doc:id="14ba168c-3313-4670-8d30-c5c8d0327d1c" >
		<http:listener doc:name="Listener" doc:id="e9f2b28d-a7f7-442e-8dfa-d0e78ec2865a" config-ref="HTTP_Listener_config" path="/default-error-handler"/>
		<logger level="INFO" doc:name="Logger" doc:id="c022843b-1e37-455f-9868-92923dc46839" />
		<http:request method="GET" doc:name="Request" doc:id="849bd0f1-66db-46c4-ae67-43975e8484ba" config-ref="HTTP_Request_configuration" path="/test"/>
	</flow>
	<flow name="on-error-basic" doc:id="8d864501-d2bf-4266-ae91-5eaaeb7a1c91" >
		<http:listener doc:name="Listener" doc:id="32dbbaad-eab8-4c04-882d-497a1dbe4198" config-ref="HTTP_Listener_config" path="/on-error-basic"/>
		<http:request method="GET" doc:name="Request" doc:id="6ba8dc0a-1028-4b07-8d62-86196259ddc8" config-ref="PropagateRequest" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="f1c767c2-056b-4198-acc4-f3e8962b04dc" message='#["Log after request : On Error Continue"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="Log On Error Continue" doc:id="cc18d6e3-657d-48a9-b693-e1be8880a1c4" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="9aa9b4bf-2ffc-4ec8-84ff-0cf3ff5e9878" message='#["Error Handler : On Error Continue log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "on error continue log",&#10;	"error": error.description&#10;}]' doc:name="Set Payload" doc:id="f0870b38-6bf4-4a1b-b346-2621b598dd75" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on-error-propagate" doc:id="71feb4fe-84fc-4d36-9881-49d7ff3fb328" >
		<http:listener doc:name="Listener" doc:id="d7c42055-a8a0-4e21-9ad3-73774e3cd5e9" config-ref="HTTP_Listener_config" path="/on-error-propagate"/>
		<http:request method="GET" doc:name="Request" doc:id="63d2566f-386e-4d2c-b6e8-e2b61964341b" config-ref="PropagateRequest" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="600f8b89-22a3-4e62-a836-b527b5028b4f" message='#["**** Log after request : On Error Propagate"]'/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0783f330-14a4-4c8b-9613-fba14d8023a5" type="ANY">
				<logger level="ERROR" doc:name="On Error Propagate Logger" doc:id="bc1259df-03fa-46ba-9349-cb3a62bb70ac" message='"Error Handler : On Error Propagate" '/>
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"error":"On Error Propagate",&#10;	"message": error.description&#10;}]' doc:name="Set Payload" doc:id="9e68137e-4b00-4ef2-9b17-293618fc20cf" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="global_error_handler" doc:id="c6d2fe9a-f29a-4283-8c19-ba09040afbd6" >
		<http:listener doc:name="Listener" doc:id="b3401645-3a7c-4837-9bd9-25edb048dcbe" config-ref="HTTP_Listener_config" path="/global-error-handler"/>
		<http:request method="GET" doc:name="Request" doc:id="62133aa6-b88e-4587-b379-b6e08eab61e0" config-ref="PropagateRequest" path="/test"/>
	</flow>
</mule>
